<div class="main-wrapper">
    <ul class="item-list">

    </ul>
    <div class="pagination">
        <ul class="pagination-list">
            <li><a href="#" class="prev-page"><</a></li>
            <li><a href="#" class="next-page">></a></li>
        </ul>
    </div>
</div>