<div class="option-panel">
    <form class="option-panel-form" action="">
        <select class="option-panel-select" name="" id="">
            <option value="A">A</option>
            <option value="B">B</option>
        </select>
    </form>
</div>